<div class="flex flex-col items-center pt-10">
  <div class="w-1/2">
    <h2>Contributors</h2>

    <ul class="list-inside bg-rose-200 list-disc pl-4">
      <li>Stellan Lindell</li>
    </ul>

    <h2>Technology stack</h2>

    <ul class="list-inside bg-rose-200 list-disc pl-4">
      <li>Angular 13</li>
      <li>Tailwind CSS v.3</li>
      <li>SCSS</li>
    </ul>

    <div class="flex justify-center gap-4 mt-4">
      <img class="h-16" src="assets/angular.png" alt="" />
      <img class="h-16" src="assets/tailwind 3.0 logo.png" alt="" />
    </div>
  </div>
</div>
