<div class="h-full flex flex-col">
  <header class="h-24 w-full">
    <h1
      class="h-16 font-semibold text-red-500 text-5xl text-center flex justify-center items-center"
      i18n>
      Welcome to {{ title }}
    </h1>

    <nav class="bg-blue-700">
      <a [routerLink]="['home']">Home</a>
      <a [routerLink]="['about']">About</a>
      <a [routerLink]="['responsive']">Responsive</a>
      <a [routerLink]="['demo']">DEMO</a>
    </nav>
  </header>

  <main class="h-custom">
    <router-outlet></router-outlet>
  </main>
</div>
